* {
    box-sizing: border-box;
    padding: 0;
    margin: 10px;
}

body {
    background-image: url("images/paper-background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Architects Daughter';
}

header {
    background: snow;
    border: 5px dotted gray;
    padding: 20px 0px 0px 0px;
    position: relative;
    text-align: left;
    margin: 10px 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 6px rgba(50, 50, 50, .7);
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.stack {
    vertical-align: middle;
    text-align: center;
    display:-moz-inline-stack;
    height: auto;
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
}

.inline {
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
}

.side-menu {
    background: snow;
    border: 5px dotted gray;
    padding: 40px 0px;
    position: fixed;
    right: 0;
    top: 143px;
    width: 23%;
    margin: 10px 30px;
    border-radius: 15px;
    box-shadow: 3px 3px 6px rgba(50, 50, 50, .7);
}

.log-in-link {
    position: relative;
    bottom: 40px;
    left: 1000px;
    overflow: scroll;
    margin: 0;
}

/* Home page */

.main-page {
    background: snow;
    border: 5px dotted gray;
    padding: 40px 0px;
    z-index: 1;
    position: relative;
    text-align: left;
    width: 72%;
    margin: 30px 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 6px rgba(50, 50, 50, .7);
}

.main-images {
    object-fit: cover;
    height: 500px;
    width: 450px;
    position: relative;
    left: 35px;
    border: gray dotted 5px;
    border-radius: 15px;
    overflow: hidden;
}

.small-profile-image {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 3px 3px 6px rgba(50, 50, 50, .7);
    vertical-align: middle;
}

.profile-name {
    display: inline-block;
    vertical-align:middle;
    text-align: center;
    text-decoration: none;
}

/* profile pages */

.profile-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.profile-header {
    background: snow;
    border: 5px dotted gray;
    padding: 40px 0px;
    width: 72%;
    position: relative;
    text-align: left;
    margin: 30px 200px 20px 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 6px rgba(50, 50, 50, .7);
}

.profile-header img {
    vertical-align: middle;
    display: inline-block;
    margin: 30px;
    padding: 14px;
}

.profile-header h3 {
    font-size: xx-large;
    display: inline-block;
    vertical-align: 95%;
    margin: 10px;
    padding: 25px 14px;
    text-decoration: none;
}

.profile-header h4 {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    height: 35px;
    width: 125px;
    border: 1px solid gray;
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
}

.profile-header p {
    vertical-align: bottom;
    text-align: center;
    display: inline-block;
    width: auto;
    margin: 0px 10px;
    padding: 5px;
    text-decoration: none;
}

.profile-info {
    position: relative;
    bottom: 150px;
    left: 70px;
}

.description {
    display: inline-block;
    border: 1px dotted gray;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
}

